<div class="background">
    <!-- data-bs-theme="dark" -->
    <div class="login-container">
        <h1 class="text-center title">INOVAPARQ</h1>
        <h5 class="description shadow-text">novas ideias orbitam aqui</h5>

        <label for="basic-url" class="form-label top shadow-text">Usuário</label>
        <input type="text" class="form-control shadow" placeholder="Digite seu usuário">
        <label for="basic-url" class="form-label top shadow-text">Senha</label>
        <input type="password" class="form-control shadow" placeholder="Digite sua senha">

        <button type="button" class="btn btn-primary top shadow" (click)="navigateHome()">Entrar</button>
    </div>

</div>