<div class="background">
    <generic-header></generic-header>

    <div class="dashboard row container-fluid">
        <div class="dashboard-column col-md-3 mb-4" *ngFor="let col of columns">
            <div class="dashboard-card card bg-dark text-white mb-3">
                <div class="dashboard-card-header card-header d-flex justify-content-between align-items-center">
                    <span>Nível</span>
                    <span class="badge rounded-pill badge-count">4</span>
                </div>

                <div class="dashboard-card-content">
                    <div class="dashboard-inner-card card bg-dark text-white mb-3" *ngFor="let card of cards">
                        <div class="card-body" (click)="openCard(card)">
                            <h5 class="card-title">
                                <i class="bi bi-bootstrap-fill text-primary"></i> Bootstrap
                            </h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="badge rounded-pill badge-central">CENTRAL</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>