@import '../../styles/shared/colors.scss';

:host {
    height: 100vh;
    width: 100vw;
}

.background {
    background-color: get-simple-color('background-primary');

    .dashboard {
        padding: 2.5rem 20px;
        display: flex;
        justify-content: center;
        place-self: center;

        &-column {
            padding: 0;
            margin-bottom: 1rem;
        }

        &-card {
            margin: 0.3rem;
            background-color: get-simple-color('background-secondary');

            &-header {
                border: 2px solid get-simple-color('background-secondary');
                border-bottom: none;

                .badge-count {
                    background-color: get-simple-color('gray');
                    color: get-simple-color('background-secondary');
                }
            }

            &-content {
                border: 2px solid get-simple-color('background-secondary');
                border-top: none;

                .dashboard-inner-card {
                    margin: 13px;
                }
            }
        }
    }

    .card-body {
        background-color: get-simple-color('background-secondary');
        border-radius: 4px;
        padding-top: 0;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }
    }

    .card-title {
        padding-top: 13px;
    }

    .btn-purple {
        background-color: #8e44ad;
        color: white;

        &:hover {
            background-color: #732d91;
            color: white;
        }
    }

    .badge-central {
        background-color: get-simple-color('light-purple');
        color: get-simple-color('purple');
    }
}