@import '../../../styles/shared/colors.scss';

nav {
    border-bottom: 1px solid get-simple-color('background-secondary');

    .middle-button {
        width: 300px;
    }

    .right-side i {
        color: #ffff;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
            color: get-simple-color('gray');
        }
    }
}