@import '../../../styles/shared/colors.scss';

nav {
    border-bottom: 1px solid get-simple-color('background-secondary');

    .middle-button {
        width: 300px;
    }

    .right-side i {
        font-size: 1.5rem;
    }
}